.App {
	height: 350px;
	width: 50%;
}

.map-one{
	height: 500px;
}

div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
	height: 96%;
}

.container {
	background-color: white;
	margin-bottom: 100px;
	padding-bottom: 30px;
}

html, #root{
	background-color: #343a40;
}
